<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>    
    <div id="wrap">
        <div id="header">
          <h2 class="inline">{{item_data['name']}}</h2>
		  <a href="/dashboard">Home</a>
		  <a href="/">Logout</a>
    </div>

    
    <div id="mid">
		<h3>Users who added this product/item under their wish list</h3>
        <ul>
			{% for user in user_list:%}
			<li>{{user['name']}}</li>
			{% endfor %}
		</ul>
      </div>
    </div>
  </body>
</html>
